.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:-0.500000px;}
.h0{height:590.400960px;}
.h1{height:591.000000px;}
.h4{height:592.614000px;}
.h5{height:593.000000px;}
.h6{height:594.154000px;}
.h7{height:594.500000px;}
.h2{height:597.205000px;}
.h3{height:597.500000px;}
.w6{width:389.023000px;}
.w7{width:389.500000px;}
.w0{width:392.075000px;}
.w1{width:392.500000px;}
.w2{width:781.089000px;}
.w3{width:781.500000px;}
.w4{width:781.621000px;}
.w5{width:782.000000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:-0.666667pt;}
.h0{height:787.201280pt;}
.h1{height:788.000000pt;}
.h4{height:790.152000pt;}
.h5{height:790.666667pt;}
.h6{height:792.205333pt;}
.h7{height:792.666667pt;}
.h2{height:796.273333pt;}
.h3{height:796.666667pt;}
.w6{width:518.697333pt;}
.w7{width:519.333333pt;}
.w0{width:522.766667pt;}
.w1{width:523.333333pt;}
.w2{width:1041.452000pt;}
.w3{width:1042.000000pt;}
.w4{width:1042.161333pt;}
.w5{width:1042.666667pt;}
.x0{left:0.000000pt;}
}
