.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:-0.500000px;}
.h6{height:579.023800px;}
.h7{height:579.500000px;}
.h4{height:589.384900px;}
.h5{height:590.000000px;}
.h2{height:598.520490px;}
.h3{height:599.000000px;}
.h0{height:602.443000px;}
.h1{height:603.000000px;}
.w0{width:384.894000px;}
.w1{width:385.500000px;}
.w6{width:385.523000px;}
.w7{width:386.000000px;}
.w4{width:756.277000px;}
.w5{width:757.000000px;}
.w2{width:785.559000px;}
.w3{width:786.000000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:-0.666667pt;}
.h6{height:772.031733pt;}
.h7{height:772.666667pt;}
.h4{height:785.846533pt;}
.h5{height:786.666667pt;}
.h2{height:798.027320pt;}
.h3{height:798.666667pt;}
.h0{height:803.257333pt;}
.h1{height:804.000000pt;}
.w0{width:513.192000pt;}
.w1{width:514.000000pt;}
.w6{width:514.030667pt;}
.w7{width:514.666667pt;}
.w4{width:1008.369333pt;}
.w5{width:1009.333333pt;}
.w2{width:1047.412000pt;}
.w3{width:1048.000000pt;}
.x0{left:0.000000pt;}
}
