.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:-0.500000px;}
.h4{height:590.878440px;}
.h0{height:590.878570px;}
.h1{height:591.500000px;}
.h2{height:594.582490px;}
.h3{height:595.000000px;}
.w4{width:389.374000px;}
.w5{width:390.000000px;}
.w0{width:392.404000px;}
.w1{width:393.000000px;}
.w2{width:775.713000px;}
.w3{width:776.000000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:-0.666667pt;}
.h4{height:787.837920pt;}
.h0{height:787.838093pt;}
.h1{height:788.666667pt;}
.h2{height:792.776653pt;}
.h3{height:793.333333pt;}
.w4{width:519.165333pt;}
.w5{width:520.000000pt;}
.w0{width:523.205333pt;}
.w1{width:524.000000pt;}
.w2{width:1034.284000pt;}
.w3{width:1034.666667pt;}
.x0{left:0.000000pt;}
}
