.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:-0.500000px;}
.h4{height:592.291900px;}
.h5{height:593.000000px;}
.h0{height:593.779230px;}
.h1{height:594.500000px;}
.h2{height:598.520490px;}
.h3{height:599.000000px;}
.w4{width:380.971000px;}
.w5{width:381.500000px;}
.w0{width:382.460000px;}
.w1{width:383.000000px;}
.w2{width:761.932000px;}
.w3{width:762.500000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:-0.666667pt;}
.h4{height:789.722533pt;}
.h5{height:790.666667pt;}
.h0{height:791.705640pt;}
.h1{height:792.666667pt;}
.h2{height:798.027320pt;}
.h3{height:798.666667pt;}
.w4{width:507.961333pt;}
.w5{width:508.666667pt;}
.w0{width:509.946667pt;}
.w1{width:510.666667pt;}
.w2{width:1015.909333pt;}
.w3{width:1016.666667pt;}
.x0{left:0.000000pt;}
}
